.todo_card{
    border: 2px solid black;
    width: 300px;
    height: 250px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 1px 1px 100px lightgreen;
}

.todo_disc{
    height: 30px;
    width: 220px;
}
.edit_button{
    background-color: lawngreen;
    font-weight: bolder;
    color: white;
}
.delete_button{
    background-color: lightcoral;
    font-weight: bolder;
    color: white;
}
.todo_card>div{
    margin: 10px;
    padding: 10px;
}
.todo_card>button{
    margin: 10px;
    border-radius: 5px;
}
.todo_card>button:hover{
    cursor: pointer;
}